h1{
  background-color: black;
  color: aliceblue;
  padding: 9px 8px 14px 5px ;
  text-align:center;
}

.superhero{
  float: right;
  height: 300px;
  width: 500px;
  margin-bottom: 10px;
}

h2{
  margin-left: 15px;
}

button{
  background-color: black;
  color: wheat ;
}

.info{
  float: right;
  width: 500px;
  border: thin solid grey;
  padding: 5px;
  box-shadow: 4px 4px 15px 4px grey;
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 18px;
  margin-right: 15px;

}

footer{
  text-align: center;
  background-color: thistle;
  border: thin solid black;
}
