<h1>Welcome to World of SuperHeros</h1>

<div class="info" *ngIf = "index!=-1">
  <img class="superhero"
  [src]="superheros[index].Img"
  alt="Superhero">

<p> {{superheros[index].Power}}
</p>

</div>

<div>
<h2 (mouseenter)="shouldDisplay(0)" (mouseleave)="shouldDisplay(-1)">Iron Man</h2>
​<h2 (mouseenter)="shouldDisplay(1)" (mouseleave)="shouldDisplay(-1)">Hulk </h2>
​<h2 (mouseenter)="shouldDisplay(2)" (mouseleave)="shouldDisplay(-1)">Captain America</h2>
<h2 (mouseenter)="shouldDisplay(3)" (mouseleave)="shouldDisplay(-1)">Thor </h2>
<h2 (mouseenter)="shouldDisplay(4)" (mouseleave)="shouldDisplay(-1)"> Dead Pool  </h2>
<h2 (mouseenter)="shouldDisplay(5)" (mouseleave)="shouldDisplay(-1)">Joker </h2>
<h2 (mouseenter)="shouldDisplay(6)" (mouseleave)="shouldDisplay(-1)">Batman </h2>
<h2 (mouseenter)="shouldDisplay(7)" (mouseleave)="shouldDisplay(-1)">Black Panther : Wakanda Forever </h2>
<h2 (mouseenter)="shouldDisplay(8)" (mouseleave)="shouldDisplay(-1)" >Wolverine </h2>
<h2 (mouseenter)="shouldDisplay(9)" (mouseleave)="shouldDisplay(-1)">SpiderMan</h2>
</div>

<footer>
  <div class="feedBack">
    <h3>Type your Fav Superhero Name </h3>
    <input type="text" #box1 (blur)="CheckFeedback(box1.value)">
    <button class="submitFeedbackBtn" (click)="getFeedback1(box1.value)">Submit</button>
    <p> {{currentFeedback1}} </p>
  </div>
</footer>
